<div id="nav-bar">
  <li class="nav-item" id="header">Sillystringz Factory Manager</li>
  <li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
  <li class="nav-item nav-link">@Html.ActionLink("Treats", "Index", "Treats")</li>
  <li class="nav-item nav-link">@Html.ActionLink("Flavors", "Index", "Flavors")</li>
  <li class="nav-item nav-link">@Html.ActionLink("Account", "Index", "Account")</li>
</div>
