<div id="nav-bar">
  <li class="nav-item" id="header">Pierre's Sweet and Savory Treats</li>
  <li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
  <li class="nav-item nav-link">@Html.ActionLink("My Treats", "Index", "Treats")</li>
  <li class="nav-item nav-link">@Html.ActionLink("My Flavors", "Index", "Flavors")</li>
  <li class="nav-item nav-link">@Html.ActionLink("Account", "Index", "Account")</li>
</div>
