@using PierresTreats.Models
@model List<PierresTreats.Models.Flavor>

@if(Model.Any())
{
  <h1>Flavors for @User.Identity.Name: </h1>
  <h3>
  @foreach (Flavor Flavor in Model)
  {
    <li>@Html.ActionLink($"{Flavor.Name}", "Details", new {id = Flavor.FlavorId})</li>
  }
  </h3>
}
else
{
  <h1>No flavor have been added. Please add a flavor</h1>
}
<div class="links">
  <h4>@Html.ActionLink("Add a Flavor", "Create")</h4>
</div>